<!-- /*********************************************************************************
 WEB422 – Assignment 04 * I declare that this assignment is my own work in
accordance with Seneca Academic Policy. No part of this * assignment has been
copied manually or electronically from any other source (including web sites) or
* distributed to other students. * * Name: Nasim Khodapanah Student ID:
131929200 Date: 3/03/22 
********************************************************************************/ -->
<h1>New Releases</h1>
<p>The following is a list of new releases.</p>
<p>
  Click the <strong>cover</strong> or <strong>artist name</strong> for more
  information.
</p>
<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <!-- Single "Responsive" Card-->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>Life of a DON</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b273ab738b25b86bf02f0346c53d"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/8/21<br />
        <strong>Tracks: </strong>16<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>Don Toliver</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>eat ya veggies</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b2738c25aa58d7e0894df7436348"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/8/21<br />
        <strong>Tracks: </strong>12<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>bbno$</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>I must apologise</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b2730e3ad9f7e35b2d2e39c58e81"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/6/21<br />
        <strong>Tracks: </strong>1<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>PinkPantheress</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title
            >Lo Siento BB:/ (with Bad Bunny & Julieta Venegas)</mat-card-title
          >
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b273d2dcc68851d00413147d9af6"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/5/21<br />
        <strong>Tracks: </strong>1<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>Tainy</mat-chip>
            <mat-chip>Bad Bunny</mat-chip>
            <mat-chip>Julieta Venegas</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>Party At The Cemetery</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b273e12004b476c6da4c5deb9a89"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/8/21<br />
        <strong>Tracks: </strong>14<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>POORSTACY</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>Justice (The Complete Edition)</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b2730cad1d28e91209690bdfb907"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/8/21<br />
        <strong>Tracks: </strong>25<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>Justin Bieber</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>Human The Double Album</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b273d249311c1e8dcf6d91d35558"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/2/21<br />
        <strong>Tracks: </strong>18<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>Cody Johnson</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>Late to the Party</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b2730cbe12c21aaccee0a9e076e3"
            alt="album art"
        /></a>
        <strong>Release Date: </strong>10/8/21<br />
        <strong>Tracks: </strong>1<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>Joyner Lucas</mat-chip>
            <mat-chip>Ty Dolla $ign</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title> Prade (feat. Lil Tecca) </mat-card-title>
          <mat-card-subtitle> New Release </mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b273ea008e6eb7f285b45a8a8cd5"
            alt="album art"
        /></a>
        <strong> Release Date: </strong>10/8/21<br />
        <strong> Tracks: </strong>1<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>24kGoldn</mat-chip>
            <mat-chip> Lil Tecca </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxFlex [style.margin]="'20px'">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title
            >Big Nas (Original Song from Masterclass)</mat-card-title
          >
          <mat-card-subtitle> New Release </mat-card-subtitle>
        </mat-card-header>
        <a href="../album/"
          ><img
            mat-card-image
            class="album-cover"
            src="https://i.scdn.co/image/ab67616d0000b2739e8359c2322e99540e87a537"
            alt="album art"
        /></a>
        <strong> Release Date: </strong>10/8/21<br />
        <strong> Tracks:</strong>25<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip>NAS</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
  </div>
</div>
