<h1>The Joshua Tree</h1>
<p>Full track listing for The Joshua Tree</p>
<mat-card>
  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
    <div fxflex>
      <img
        src="https://i.scdn.co/image/ab67616d00001e02f8996a3f97e80d9d700635c3"
        alt="album cover"
        [style.margin]="'10px'"
        [style.max-width]="'90%'"
      />
    </div>
    <div fxFlex>
      <div [style.min-width]="'300px'" [style.margin]="'10px'">
        <strong>Record Label: </strong> Universal-Island Records Ltd.<br />
        <strong>Release Date: </strong> 2021-02-12<br /><br />
        <strong>Tracks: </strong> 22<br />
        <strong>Popularity: </strong>77<br /><br />

        <mat-chip-list aria-label="Artist selection">
          <mat-chip>U2</mat-chip>
        </mat-chip-list>
        <br />
        <div>
          &copy; 2012 Universal-Island Records Ltd., under exclusive licence to
          Mercury Records Limited
        </div>
        <div>
          &copysr; 2007 Universal-Island Records Ltd., under exclusive licence
          to Mercury Records Limited
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list>
  <!-- Single "Responsive" Material List Item-->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >1: Where The Streets Have No Name - Remastered - 5.61
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!-- -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >2: I Still Haven't Found What I'm Looking For - Remastered 2007 -
          4.62
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >3: With Or Without You - Remastered - 4.93
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >4: Bullet The Blue Sky - Remastered 2007 - 4.53
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >5: Running To Stand Still - Remastered 2007 - 4.29
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >6: Red Hill Mining Town - Remastered 2007 - 4.88
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >7: In God's Country - Remastered 2007 - 2.94
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >8: Trip Through Your Wires - Remastered 2007 - 3.53
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >9: One Tree Hill - Remastered 2007 - 5.37
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
  <mat-list-item>
    <mat-icon mat-list-icon>queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >10: Exit - Remastered 2007 - 4.22
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-list-item>
  <!--  -->
</mat-list>
